/* Start General Rules */
:root{
/* #### Text */

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/* #### Gradient Background gradient */
--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/* ### Neutral #### Text */

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/* #### Dividers */

--Light-grayish-blue: hsl(240, 5%, 91%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}
/* End General Rules */
/* Start container **Desktop First** */
body{
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}
.container{
    position: fixed;
    width: 800px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 20px;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* start Image-side */
.img-side{
    position: relative;
    display: flex;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -80px 10px;
    overflow: hidden;
}
.img-side .women{
    position: relative;
    width: 109%;
    left: -92px;
    top: -22px;
}
.img-side .box{
    width: 23%;
    left: -97px;
    bottom: 77px;
    position: fixed;
}
/* End Image-side */
/* Start text-side */
.txt-side{
    padding: 20px;
    margin: 10px;
}
.txt-side h1{
    padding: 20px 0;
    font-weight: bold;
    color: var(--Very-dark-desaturated-blue);
}
.txt-side .Question{
    background-color: white;
    border: white;
    border-bottom: 1px solid var(--Light-grayish-blue);
    padding: 15px 0;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Very-dark-desaturated-blue);
}
.txt-side .Question:hover{
    color: var(--Soft-red);
    cursor: pointer;
}
.txt-side .Question::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url('images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.txt-side .Question .open{
    font-weight: 700;
    display: block;
}
.txt-side .Question .open::after{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.txt-side .Answer{
    display: none;
    color: var(--Dark-grayish-blue);
    width: 80%;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
}
/* End text-side */
/* End container */
/* Start Media Query */
@media(max-width: 820px){
    .container{
        width: 270px;
        height: 450px;
        grid-gap: 0;
    }
    .img-side{
        background-image: url(images/bg-pattern-mobile.svg);
        background-position:top;
        background-size: 65%;
        overflow:visible;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 87px;
    }
    .img-side img{
        width: 65%;
    }
    .img-side .women{
        left: -3px;
        top: -56px;
        width: 65%;

    }
    .img-side .box{
        width: 20%;
        left: 46px;
        bottom: 54px;
        position: absolute;
    }
    .txt-side{
        padding: 0 5px;
        margin: 0 12px;
    }
    .txt-side h1{
        text-align: center;
        font-size: 22px;
        padding-top: 0;
    }
    .txt-side .Question{
        width: 100%;
        font-size: 12px;
    }
}
/* End Media Query */
.attribution { 
    font-size: 11px;
    text-align: center; 
    position: absolute;
    bottom: 0;
}
.attribution a { 
    color: var(--Light-grayish-blue); 
}
